@font-face {
    font-family: 'Frankfurt';
    src:    url('../assets/fonts/Frankfurter\ Std\ Regular.otf') format('opentype')

}
@font-face {
    font-family: 'Poppins';
    src:    url('../assets/fonts/Poppins-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins-thin';
    src:    url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'AvenirNextProLT';
    src:    url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype')
}
@font-face {
    font-family: 'AvenirNextProLT-demi';
    src:    url('../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype')
}
@font-face {
    font-family: 'AvenirNextProLT-bold';
    src:    url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype')
}